@charset "utf-8";
/* CSS Document */

.navbar.navbar-default
{
	background-color: #555555;
	
	
}
.navbar-brand{
    /*left:calc(50% - 75px);*/
    position: relative;
    padding: 0;
   top: -25px;
    border-bottom-color: red;
}
.navbar-brand:hover{
    -webkit-transform: scale(1.2,1.2);
    top: -38px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open >a {
    text-decoration: underline;
    text-decoration-color: chartreuse;
    background-color: #333333;
	display: block;
}




b{
	font-size: 100%;
}
.nav.navbar-nav li:hover
{

	background-color: #333333;
}


/*li.dropdown:hover > .dropdown-menu
{
	display: block;
	color: #82A30A;
}*/
.navbar.navbar-default .nav.navbar-nav > li >a
{ 

	color: ghostwhite;
}


.main_title
{
	text-align: center;
	padding-top: 60px;
	height: 200px;
}
.main_title h1
{
	padding-top: 30px;
}


.carousel-inner > .item
{
  width: 100%;
  height: 500px;
	color: black;
	font-family: 'Open Sans', sans-serif;
}

#myCarousel.carousel.slide a
{
	
	height: 20%;
	vertical-align: middle;
	top: 150px;
	
}

#slide1
{
	background-image: url(images-1/teach_extc_staff.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
#slide2
{
	background-image: url(images-1/non_teach_extc_staff.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.panel.panel-default > .panel-body.vision_img
{
	
	background-image: url(images-1/vision1.jpg);
	height: 180px;	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.panel.panel-default > .panel-body.vision
{
	
	
	height: 180px;
	
	text-align: center;
}

.panel.panel-default > .panel-body.mission_img
{
	
	background-image: url(images-1/mission1.jpg);
	height: 180px;	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.panel.panel-default > .panel-body.mission
{
	
	
	height: 180px;
	
	text-align: center;
}
.panel.panel-default > .panel-body.motto_img
{
	
	background-image: url(images-1/IT_about.jpg);
	height: 250px;	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.panel.panel-default > .panel-body.motto
{
	
	
	height: 250px;
	
	text-align: center;
}
/*.panel.panel-default > .panel-body.motto.about
{
	font-size: 220%;
}*/
.panel.panel-default > .panel-body.motto li
{

	
 font-size: 160%;
	
	text-align: justify;
	
}


#staff
{
	/*border: 2px solid black;
	*/
	/*background: linear-gradient(to bottom right, #ccff33 0%, #66ccff 100%);
	*/
	background-color: #333333;
}
#staff a
{

 /* width: 30px;
  height: 80px;
  
  border-radius: 0px;
	*/
	
	 border-radius: 0px;


	
}
#staff h1
{
	
	text-align: center;
	padding-bottom: 20px;
	color: white;
		
}
#staff h4
{
	
	text-align: center;
	padding-bottom: 20px;
	color: white;
	
	
}


.panel.panel-default.staff
{
	border: 2px solid black;
	
}

.panel.panel-default > .panel-body.staff
{
	height: 150px;
	color: black;
}

.panel.panel-default > .panel-heading.item1_staff
{
	
	background-image: url(images-1/faculty_img.jpg);
	height: 200px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.panel.panel-default > .panel-heading.item2_staff
{
	
	background-image: url(images-1/department_act1.jpg);
	height: 200px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.panel.panel-default > .panel-heading.item3_staff
{
	
	background-image: url(images-1/labs.jpg);
	height: 200px;
	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center
}

.panel.panel-default > .panel-heading.item4_staff
{
	
	background-image: url(images-1/student_achivements.jpg);
	height: 200px;
	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.row
{

	padding-left: 25px;
	padding-right: 25px;
}

.dropdown-toggle.learn_more
{
	font-size: 150%;
}








