@charset "utf-8";
/* CSS Document */

.container.text-center
{
	padding-top: 65px;
}

.navbar.navbar-default
{
	background-color: #555555;
	
	
}
.navbar-brand{
    /*left:calc(50% - 75px);*/
    position: relative;
    padding: 0;
   top: -25px;
    border-bottom-color: red;
}
.navbar-brand:hover{
    -webkit-transform: scale(1.2,1.2);
    top: -28px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open >a {
    text-decoration: underline;
    text-decoration-color: chartreuse;
    background-color: #333333;
	display: block;
}




b{
	font-size: 100%;
}
.nav.navbar-nav li:hover
{

	background-color: #333333;
}


/*li.dropdown:hover > .dropdown-menu
{
	display: block;
	color: #82A30A;
}*/

.navbar.navbar-default .nav.navbar-nav > li >a
{ 

	color: ghostwhite;
}
.panel.panel-default{
    /*font-family: 'Open Sans', sans-serif;
    font-size: 220%;*/
}
p{
    font-family: 'Open Sans', sans-serif;
    font-size: 120%;
}
hr{
    color: #999999;
    border-top: 1px solid #999999;
}