@charset "utf-8";
/* CSS Document */


.navbar.navbar-default
{
	background-color: #555555;
	
	
}
.navbar-brand{
    /*left:calc(50% - 75px);*/
    position: relative;
    padding: 0;
   top: -25px;
    border-bottom-color: red;
}
.navbar-brand:hover{
    -webkit-transform: scale(1.2,1.2);
    top: -28px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open >a {
    text-decoration: underline;
    text-decoration-color: chartreuse;
    background-color: #333333;
	display: block;
}




b{
	font-size: 100%;
}
.nav.navbar-nav li:hover
{

	background-color: #333333;
}


/*li.dropdown:hover > .dropdown-menu
{
	display: block;
	color: #82A30A;
}*/

.navbar.navbar-default .nav.navbar-nav > li >a
{ 

	color: ghostwhite;
}


#main_title
{
	
	padding-top: 60px;
	background-color: white;
	vertical-align: middle;
	
	
	
/*	#E5E5E5*/
}
#main_title h2
{


	display: inline-block;
}



#back_img
{
	

	background-image: url(sfit.jpg);	
	background-repeat: no-repeat;
	background-size: cover;
	border: 2px solid black;
	height: 450px;
	
}

.card
{
	border: 3px solid black;
	width: 250px;
	height: 280px;
	background-color: #E4E4E4;
	border: 1px solid black;
	opacity: 0.9;
	float: right;
	position: relative;
	border-radius: 15px;
	top: 100px;
	right: 170px;

	
	padding-top: 40px;
	
}

.panel-header
{
	text-align: center;
}

.panel.panel-default
{
	top: 10px;
	
	
}

.contain-panels
{
	width: 100%;
}

.panel.panel-default.panel2
{
	
	width: 50%;
	
	float: left;
	
	
	
}
.panel.panel-default.panel3
{
	
	   width: 45%;
		
	    float: right;
	
}

.carousel-inner > .item > img {
  width: 100%;
  height: 500px;
}

#myCarousel.carousel.slide a
{
	
	height: 30%;
	vertical-align: middle;
	top: 400px;
	
}

#placement
{
	border: 2px solid black;
}

.panel.panel-default > .panel-heading.item1
{
	
	background-image: url(infosys.jpg);
	height: 150px;
	background-repeat: no-repeat;
	background-size: cover;
	
}
.panel.panel-default > .panel-heading.item2
{
	
	background-image: url(Lt.jpg);
	height: 150px;
	background-repeat: no-repeat;
	background-size: cover;
}
.panel.panel-default > .panel-heading.item3
{
	
	background-image: url(cg.png);
	height: 150px;
	background-repeat: no-repeat;
	background-size: cover;
}
#learn_link
{
	
	text-align: center;
	
	font-size: 200%;
	top: 125px;
	
	
}

footer{
	width: 100%;
	background-color: #5E4485;
	padding: 5%;
	color: #FFF;
}

.fa{
	padding: 20px;
	font-size: 30px;
	color: #FFF;
}

.fa:hover{
	color: #D5D5D5;
	text-decoration: none
}