.navbar.navbar-default
{
	background-color: #555555;
	
	
}
.navbar-brand{
    /*left:calc(50% - 75px);*/
    position: relative;
    padding: 0;
   top: -25px;
    border-bottom-color: red;
}
.navbar-brand:hover{
    -webkit-transform: scale(1.2,1.2);
    top: -28px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open >a {
    text-decoration: underline;
    text-decoration-color: chartreuse;
    background-color: #333333;
	display: block;
}




b{
	font-size: 100%;
}
.nav.navbar-nav li:hover
{

	background-color: #333333;
}


/*li.dropdown:hover > .dropdown-menu
{
	display: block;
	color: #82A30A;
}*/

.navbar.navbar-default .nav.navbar-nav > li >a
{ 

	color: ghostwhite;
}

.container-fluid{
    padding-top:80px;
}
#columnchart_material{
    display: block;
    margin: 0 auto;
    padding-top: 50px;
}